@{
    ViewData["Title"] = "Application Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Hidden("EmployeeId", (object)ViewBag.ApplicationId)

<!-- ko with: Benefits -->
<div class="row justify-content-center">
    <div class="col-7">
        <div class="row">
            <dvi class="col-6">
                <h1 class="display-6">Benefits Preview</h1>
                <hr />
                <p>Employee Full Name: <strong data-bind="text: employee.fullName"></strong></p>
                <p>Annual Salary: <strong>$</strong><strong data-bind="text: annualSalary"></strong></p>
                <p>Benefit Cost: <strong>$</strong><strong data-bind="text: employee.benefitsCost"></strong></p>
            </dvi>
            <dvi class="col-6">
                <h1 class="display-6">Totals</h1>
                <hr />
                <p>Annual Benefits Total Cost: <strong>$</strong><strong data-bind="text: annualBenefitsTotalCost"></strong></p>
                <p>Monthly Benefits Total Cost: <strong>$</strong><strong data-bind="text: monthlyBenefitsTotalCost"></strong></p>
                <p>Paycheck After Deductions: <strong>$</strong><strong data-bind="text: paycheckAfterDeductions"></strong></p>
            </dvi>
        </div>
    </div>
</div>
<!-- ko if: dependants.length > 0 -->
<div class="row justify-content-center">
    <div class="col-7">
        <div class="row">
            <h1 class="display-6">Dependants</h1>
            <hr />
            <!-- ko foreach: dependants -->
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><span data-bind="text: fullName"></span></h5>
                        <p class="card-text">Benefit Cost: <strong>$</strong><strong data-bind="text: benefitsCost"></strong></p>
                    </div>
                </div>
                <br />
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>
<!-- /ko -->
<!-- /ko -->

@section scripts {
    <script src="~/js/app/application-details.js"></script>
}

