@{
    ViewData["Title"] = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4">Employees</h1>
<hr/>

<table class="table table-striped" data-bind="visible: employees().length > 0">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody data-bind="foreach: employees">
    <tr>
      <td data-bind="text: firstName"></td>
      <td data-bind="text: lastName"></td>
      <td class="text-end">
          <button type="button" class="btn btn-primary btn-sm" data-bind="click: $root.applicationDetails"><i class="fas fa-chart-pie"></i>&nbsp;Preview Benefits</button>
      </td>
    </tr>    
  </tbody>
</table>

<div class="alert alert-primary" role="alert" data-bind="visible: employees().length === 0">
  No items to display!
</div>


@section scripts {
    <script src="~/js/app/employees.js"></script>
}


